
html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow-x: hidden;
  }
  
  .section {
    display: grid;
    grid-template-rows: auto auto auto; /* prostor nahoře, box, prostor dole */
    grid-template-areas:
      "top"
      "middle"
      "bottom";
    height: 100vh;
    padding: 2rem;
    box-sizing: border-box;
  
  
  }
  
  .box {
    max-width: 400px;
    width: 90%;
    padding: 1rem;
    background: rgba(255, 255, 255, 0.85);
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    text-align: center;
    justify-self: center; /* zarovná box vodorovně */
    align-self: center; /* zarovná box nahoru ve své grid oblasti */
    margin-top: 10px;
   

    
    
  }

  
  /* Specifická umístění */
  .top {
    grid-area: top;
  }
  .middle {
    grid-area: middle;
  }
  .bottom {
    grid-area: bottom;

    
  }
  img {
    max-width: 400px;
    width: 100%;
    
  }
.social {
  width: 25px;
  margin: 10px;
}

h1, h2 {
  font-size: 14px;
}
  
  
  